div.table-responsive{
  margin:50px auto 0 auto;
}

button.btn.btn-default{
  width:150px;
  height: 65px;	
  background-color:#00b760;
  /*margin-left: 30%;*/
  text-align: center;

}

p.help-block.text-center{
  vertical-align:middle;
}

i.glyphicon.glyphicon-info-sign{
  font-size:xx-large;
  align-self:auto;
}

td{
  width:initial;
}

td.active{
  width:200px;
}

tbody{
  border-collapse:collapse;
}

#myAlert{
  text-align: center;
}

.centerme {
    display: block;
    margin: 1em auto;
    text-align: center;
}

.blur {
  -webkit-filter: grayscale(50%);
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
